on:
  push:
    branches:
      - master
    #paths:
    #  - README.Rmd

name: Render README

jobs:
  render:
    name: Render README
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@master
      - uses: r-lib/actions/setup-r@master
      - uses: r-lib/actions/setup-pandoc@master
      - name: Install dependencies
        run: Rscript -e 'install.packages(c("rmarkdown", "dplyr", "remotes"))'
      - name: Install remote dependencies
        run: Rscript -e 'remotes::install_github("easystats/insight")'
      - name: Install dependencies
        run: Rscript -e 'remotes::install_deps(dependencies=TRUE)'
      - name: Render README
        run: Rscript -e 'rmarkdown::render("README.Rmd")'
      - name: Commit results
        run: |
          git commit README.md -m 'Re-build README.Rmd' || echo "No changes to commit"
          git push origin || echo "No changes to commit"

